<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WTT.CoinApiDataFeed.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WTT.CryptoDataFeed.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WTT.CoinApiDataFeed.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>USD</value>
      </setting>
      <setting name="WebSocket" serializeAs="String">
        <value>wss://ws.coinapi.io/v1/</value>
      </setting>
      <setting name="APIUrl" serializeAs="String">
        <value>https://rest.coinapi.io/</value>
      </setting>
    </WTT.CoinApiDataFeed.Properties.Settings>
    <WTT.CryptoDataFeed.Properties.Settings>
      <setting name="BaseSymbol" serializeAs="String">
        <value>USD</value>
      </setting>
      <setting name="Exchange" serializeAs="String">
        <value>CCCAGG</value>
      </setting>
      <setting name="WebSocket" serializeAs="String">
        <value>https://streamer.cryptocompare.com/</value>
      </setting>
      <setting name="APIUrl" serializeAs="String">
        <value>https://rest.coinapi.io/</value>
      </setting>
    </WTT.CryptoDataFeed.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>